# Later lines in the file take precedence.

.github/                @ncik-roberts
.github/CODEOWNERS      @ncik-roberts
.gitignore              @ncik-roberts

.vscode                 @ncik-roberts

autoconf-aux            @ncik-roberts
configure.ac            @ncik-roberts
**/dune                 @ncik-roberts
**/dune-project         @ncik-roberts
Makefile.in             @ncik-roberts

flambda_backend.opam    @ncik-roberts

HACKING.md      @ncik-roberts
README.md       @ncik-roberts

build_ocaml_compiler.sexp       @ncik-roberts

backend/                        @ncik-roberts
backend/debug/                  @ncik-roberts

driver/                         @ncik-roberts

external/memtrace/              @ncik-roberts

file_formats/                   @ncik-roberts

middle_end/                     @ncik-roberts

middle_end/flambda2/                    @ncik-roberts
middle_end/flambda2/algorithms          @ncik-roberts
middle_end/flambda2/bound_identifiers   @ncik-roberts
middle_end/flambda2/cmx                 @ncik-roberts
middle_end/flambda2/from_lambda         @ncik-roberts
middle_end/flambda2/identifiers         @ncik-roberts
middle_end/flambda2/kinds               @ncik-roberts
middle_end/flambda2/lattices            @ncik-roberts
middle_end/flambda2/nominal             @ncik-roberts
middle_end/flambda2/numbers             @ncik-roberts
middle_end/flambda2/simplify            @ncik-roberts
middle_end/flambda2/simplify/env        @ncik-roberts
middle_end/flambda2/simplify/inlining   @ncik-roberts
middle_end/flambda2/simplify/lifting    @ncik-roberts
middle_end/flambda2/simplify/unboxing   @ncik-roberts
middle_end/flambda2/term_basics         @ncik-roberts
middle_end/flambda2/terms               @ncik-roberts
middle_end/flambda2/to_cmm              @ncik-roberts
middle_end/flambda2/types               @ncik-roberts
middle_end/flambda2/ui                  @ncik-roberts

middle_end/flambda2/compare             @ncik-roberts
middle_end/flambda2/parser              @ncik-roberts
middle_end/flambda2/tests               @ncik-roberts

middle_end/flambda2/scripts             @ncik-roberts

middle_end/flambda2/docs/backend_exceptions.md  @ncik-roberts
middle_end/flambda2/docs/to_cmm.md              @ncik-roberts
middle_end/flambda2/docs/types.md               @ncik-roberts

native_toplevel/                @ncik-roberts

ocaml/asmcomp/                  @ncik-roberts
ocaml/runtime/                  @ncik-roberts
ocaml/typing/                   @ncik-roberts
ocaml/testsuite/tests/          @ncik-roberts

scripts/                        @ncik-roberts

testsuite/tools                 @ncik-roberts
testsuite/flambda2-test-list    @ncik-roberts

tools/merge_archives.ml         @ncik-roberts
tools/merge_dot_a_files.sh      @ncik-roberts
tools/objinfo.ml                @ncik-roberts
