#**************************************************************************
#*                                                                        *
#*                                 OCaml                                  *
#*   Derived from the work of:                                            *
#*                 Damien Doligez, projet Gallium, INRIA                  *
#*                                                                        *
#*   Copyright 2015 Institut National de Recherche en Informatique et     *
#*     en Automatique.                                                    *
#*                                                                        *
#*   All rights reserved.  This file is distributed under the terms of    *
#*   the GNU Lesser General Public License version 2.1, with the          *
#*   special exception on linking described in the file LICENSE.          *
#*                                                                        *
#**************************************************************************

*.o
*.a
*.so
*.obj
*.lib
*.dll
*.la
*.cm[ioxats]
*.cmx[as]
*.cmti
*.cmsi
*.annot
*.exe
*.exe.manifest
.DS_Store
*.out
*.out.dSYM
*.swp
_ocamltest
_ocamltestd
*.odoc
.merlin

_build/
_build_upstream/
.rsync-output
.rsync-output-compare
_compare/
_runtest/
autom4te.cache
_install/
_coverage/
_profile/
lrgrep_parsing/
out/
test.ml
run_compiler.sh
/Makefile.config
/config.log
/config.status
/config.cache
/configure
/ocamlopt_flags.sexp
/oc_cflags.sexp
/oc_cppflags.sexp
/sharedlib_cflags.sexp

# Jane Street Merlin support
/.local-merlin-binaries
/.local-ocaml-lib

# Debugger support
ocamlc
ocamlopt
.ocamldebug

# Artifacts made during bootstrapping
ocaml/otherlibs/dynlink/byte/dynlink.mli
ocaml/otherlibs/dynlink/native/dynlink.mli
ocaml/primitives.new
