assignment-operator=begin-line
cases-exp-indent=2
doc-comments=before
dock-collection-brackets=false
exp-grouping=preserve
if-then-else=keyword-first
parens-tuple=multi-line-only
space-around-lists=false
space-around-variants=false
wrap-comments=true
