name: jane-syntax-upstream-build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        ocaml-compiler:
          - "4.14.0"

    steps:
    - name: Checkout the Flambda backend repo
      uses: actions/checkout@master
      with:
        path: 'flambda_backend'

    - name: Setup OCaml ${{ matrix.ocaml-compiler }}
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}

    - name: Try building Jane_syntax and its dependencies with upstream OCaml
      working-directory: flambda_backend
      run: opam exec -- ocaml/tools/build_jane_syntax_with_active_opam_switch.sh
