name: menhir
on: [push, pull_request]
jobs:
  menhir:
    name: Check Menhir version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the ocaml-jst repo
        uses: actions/checkout@master
        with:
          path: 'ocaml-jst'
      - name: Check Menhir version
        shell: bash
        run: |
          grep --count --max-count=1 --quiet 'MenhirLib.StaticVersion.require_20231231' ocaml-jst/boot/menhir/parser.ml
