name: ocamlformat
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        ocaml-compiler:
          - "4.14.0"

    steps:
    - name: Checkout the Flambda backend repo
      uses: actions/checkout@master
      with:
        path: 'flambda_backend'

    - name: Setup OCaml ${{ matrix.ocaml-compiler }}
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}

    - name: Install a recent version of re
      run: opam install 're>=1.10.0'

    - name: Install ocamlformat 0.24.1
      run: opam pin -y ocamlformat 0.24.1

    - name: autoconf
      working-directory: flambda_backend
      run: autoconf

    - name: configure
      working-directory: flambda_backend
      run: |
        ./configure \
          --prefix=$GITHUB_WORKSPACE/_install \
          --enable-middle-end=closure \
          --with-dune=/bin/false

    - name: Check formatting of Flambda 2 and Cfg code
      working-directory: flambda_backend
      run: opam exec -- make check-fmt
